<script>var verCode = %1%;</script>
<script>
  (function(){
    let latestV = 1093;
    let msg = "Already up to date!";
    let url="https://master.dl.sourceforge.net/project/uwebbrowser/v1/uweb"+latestV+".apk?viasf=1";
    do {
      let ls = navigator.languages;
      for(var i in ls){
        if(ls[i].startsWith("en")) break;
        if(ls[i].startsWith("zh")) {
          msg = "已经是最新版！";
          url = "https://gitee.com/jamesfengcao/uweb/releases/download/v1/uweb"+latestV+".apk";
          break;}
      }
    }while(false);
    try {
      if(verCode>=latestV) {alert(msg);return;}
    }catch(e){}
    location.href = url;
  })();
</script>
<a href="en/changelog/index.html#" onclick="{let url=location.href;let l=url.length;if(url.charCodeAt(l-1)==35)return true;let iS=url.indexOf('/',14);if(l-iS<19)return true;location.href='i:0mi:5h:'+url+'/../en/changelog/index.html';return false;}">Release notes</a>
